.branches-page {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.branches-page .headline {
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

.branches-page .ant-card .ant-card-body {
  padding: 5px 10px;
}

.ant-table-expanded-row .ant-table {
  margin-inline: 0 !important;
}
