.page_forgetPassowrd {
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page_forgetPassowrd .form {
  width: 500px;
  height: fit-content;
  padding: 20px 30px;
  box-shadow: rgba(60, 66, 87, 0.08) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.12) 0px 5px 15px 0px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.74);
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.form h2.header {
  margin: 10px 0;
}

.form .subheader {
  font-weight: 500;
}

.form .subheader a {
  color: #3bb59a !important;
  font-weight: 600;
}

.form .otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .otp-container .icon {
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.form .otp-container .title {
  font-size: 18px;
  padding: 5px 0;
}

.form .otp-container .subtitle {
  font-size: 12px;
}

.form .otp-container .ant-otp {
  margin-top: 30px;
}
