.page_home {
  padding: 10px;
  background-color: #f1f5f9;
}

.page_home .control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page_home .control button {
  margin-left: 5px;
  font-weight: 600;
}

.page_home .control-newclients-divider {
  margin: 10px 0;
}

.purchase-form label {
  display: block;
  margin-top: 5px;
  font-weight: 600;
}

.ant-table-row {
  cursor: pointer;
  transition: font-weight 0.1s ease-in-out;
}

/* .ant-table-row:hover {
  font-weight: 600;
} */
