.page_signup {
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
}

.page_signup .form {
  padding: 20px 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.74);
  box-shadow: rgba(60, 66, 87, 0.08) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.12) 0px 5px 15px 0px;
  margin-top: 10px;
  height: fit-content;
  background: #fff;
}

.form h2.header {
  margin: 10px 0;
}

.form .subheader {
  font-weight: 500;
}

.form .subheader a {
  color: #3bb59a !important;
  font-weight: 600;
}

.form .ant-btn {
  float: right;
  font-weight: 500;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  transition: all 0.02s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

@media screen and (max-width: 467px) {
  .page_signup {
    align-items: baseline;
    overflow: hidden;
  }
  .page_signup .form {
    width: 100%;
    border: none;
  }
}
