.ant-layout-sider {
  position: relative;
  padding-top: 50px;
}

.sidebar-toggler {
  position: absolute;
  right: -15px;
  top: 20px;
  background: #fff;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}
.sidebar-toggler svg {
  transition: all 0.1s ease;
}

.sidebar-toggler:hover svg {
  transform: translateX(-2px);
}

.ant-layout-sider.ant-layout-sider-collapsed .sidebar-toggler:hover svg {
  transform: translateX(2px);
}

.ant-layout-sider header.sidebar-header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-layout-sider header.sidebar-header img.sidebar-header-logo {
  width: 60px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.ant-layout-sider.ant-layout-sider-collapsed
  header.sidebar-header
  img.sidebar-header-logo {
  transform: scale(0.8);
}

.ant-layout-sider header.sidebar-header .sidebar-header-title {
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  transition: 1s opacity 0.3s ease;
  opacity: 1;
  white-space: nowrap;
  margin-top: 5px;
}

.ant-layout-sider.ant-layout-sider-collapsed
  header.sidebar-header
  .sidebar-header-title {
  transition: none;
  opacity: 0;
}

.ant-menu-title-content {
  font-weight: 600;
}

.sidebar-menu {
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: calc(100vh - 235px);
  overflow-y: scroll;
}
.admin-card {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  margin: 0 2.5%;
  background-color: #24272a;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.admin-card .admin-card-avatar {
  margin-right: 2px;
}

.admin-card .admin-card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap; /* Prevents text wrapping */
  color: #fff;
  transition: all 0.2s ease;
}

.admin-card .admin-card-details .admin-card-name {
  font-size: 14px;
  text-transform: capitalize;
}

.admin-card .admin-card-details .admin-card-email {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.ant-layout-sider.ant-layout-sider-collapsed .admin-card {
  padding: 10px;

  align-items: center;
  justify-content: center;
}

.ant-layout-sider.ant-layout-sider-collapsed .admin-card .admin-card-details {
  display: none;
}
